name: Test Python cleanliness

on:
    pull_request:
    push:

jobs:
  python-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --editable '.[dev]'
        rm -rf blueos_extensions_repository.egg-info

    - name: Run tests
      run: |
        ./.hooks/pre-push
